---
import Layout from '../layouts/Layout.astro';
import RepoCard from '../components/RepoCard.astro';
import cx from 'classnames';
---

<Layout title="Learn Like Me">
  <div class="h-full w-full">
    <main class={cx(
      "w-full h-full",
      "flex flex-col items-center justify-center", 
      "bg-gradient-to-br from-indigo-500 to-purple-600",
    )}>
      <span>fuck</span>
    </main>
  </div>
</Layout>
