---
import cx from 'classnames';
---

<header class={cx(
  "flex",
  "justify-between",
  "z-50", 
  "px-3 py-1",
  "w-full h-full",
)}>
      <span class="flex flex-col items-start">
        <span class="text-xl font-bold text-gray-900">
          Learn Like Me (LLM)
        </span>
        <span class="italic text-sm mt-1">🚧 Under Construction 🚧</span>
      </span>
</header> 