---
import cx from 'classnames';
---

<header class={cx(
  "flex",
  "justify-between",
  "z-50", 
  "px-3",
  "w-full h-12",
)}>
      <div class="flex items-center">
        <span class="text-xl font-bold text-gray-900">
          Learn Like Me (LLM)
        </span>
      </div>

      <span class="flex items-center space-x-4">
        <span class="italic text-sm">🚧 Under Construction 🚧</span>
      </span>
</header> 